<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paystack Order</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="form-container">
        <h2>Payment Form </h2>
        <div id="contact-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="email">Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <input type="submit">Submit</input>
        </div>
    </div>

    <script src="/main.js"></script>
</body>
</html>